import React from 'react';
import PropTypes from 'prop-types';

import Styles from './{{name}}.scss';

const propTypes = {
  /** Name of the component */
  name: PropTypes.string.isRequired,
};

const defaultProps = {};

const {{name}} = props => (
  <div className={`${Styles.container}`}>
    {props.name}
  </div>
);

{{name}}.defaultProps = defaultProps;
{{name}}.propTypes = propTypes;

export default {{name}};
